@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700&family=Prompt:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.header{
    width: 105vw;
    height: 70px;
    display: flex;
    background-color: #088178;
    /* box-shadow: 0px 16px 15px rgb(179, 179, 179, 0.35) */
}
.logo img{
    margin-top: 13px;
    width: 150px;
    height: 40px;
    margin-left: 90px;
}
.navbar{
    margin-left: 284px;
    margin-top: 15px;
}
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 2px;
}

.nav-side{
    margin-left: 315px;
}

.bag{
    margin-left: 84px;
    font-size: 25px;
    color: black;
    margin-top: 25px;
}

.count{
    display: block;
    width: 18px;
    height: 14px;
    background-color: #e8f6ea;
    border-radius: 50%;
    margin-top: -40px;
    text-align: center;
    padding-bottom: 4px;
    margin-left: 105px;
    position: absolute;
}


.log{
    width: 60px;
    height: 29px;
    margin: -37px 160px;
    padding: 5px 20px;
    border: none;
    background-color: rgb(146, 154, 151);
    font-size: 19px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: black;
    position: absolute;

}

.log:hover{
    opacity: 0.7;
}

.nav-item{
    padding: 20px;
    font-size: 19px;
    font-weight: 600;
}
.nav-link{
    color: black;

}
.nav-link:hover, .nav-link:active{
    text-decoration: underline;
    text-decoration-color: brown;
}

.section img {
    width: 100%;
    height: 600px;
}

.container{
    padding: 30px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin-left: 50px;
}

.prod{
    display: grid;
    width: 280px;
    height: 430px;
    border: 1px solid rgba(215, 214, 214, 0.3);
    /* border: 1px solid black; */
    padding: 5px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, -14.98);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
.prod img{
    width: 260px;
    margin: 10px;
    border-radius: 25px;
    height: 280px;
}

.desc{
    margin: 10px 16px;
    line-height: 5px;
}
.brand{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

.prod .desc h4{
    font-size: 13px;
    color: #088178;
    font-weight: 500;
    margin-top: 20px;
}

.prod .desc h2{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 25px;
}


.prod .star{
    margin-top: 19px;
}

.prod .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    text-align: center;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.prod .cart:hover{
    background-color: #088178;
    color: white;
    transition: 0.3s ease-in;
}


.footer{
    height: 200px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 300px 250px 210px 210px 420px;
    grid-template-rows: repeat(1, 2fr);
    background-color: #088178;
    padding: 60px 80px;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul{
    line-height: 30px;
}

.footer a{
    color: #93e7e3;
    transition: opacity 1s;

}

.footer a:hover{
    cursor: pointer;
    opacity: 0.6;
}

input[type = email]{
    width: 230px;
    height: 25px;
    padding: 5px;
    border-radius: 12px;
    border: none;
    margin-left: -40px;
    outline: none;
}

button[type = submit]{
    width: 71px;
    height: 35px;
    border-radius: 15px;
    border: none;
    margin-left: -30px;
    background-color: rgb(196, 212, 227);
    transition: font-weight  0.5s ease-in;
}

button[type = submit]:hover{
    cursor: pointer;
    font-weight: 600;
}


.social{
    margin-top: 20px;
    font-size: 30px;
    margin-left: -16px;

}

.social-icon{
    color: black;
    margin-right: 20px;
}

.social-icon:hover{
    color: rgb(26, 20, 13);
}

.catchup{
    color: #93e7e3;
    margin: 10px;
}

.shopper, .merchant, .learn{
    margin-left: 50px;
}

.contact{
    margin-left: 140px;
}

.pay{
    margin-top: 13px;
    margin-left: -54px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.pay img{
    margin-left: 29px;
    width: 290px;
    height: 40px 
}